

header h1 {
    color: rgb(255, 0, 0);
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #222;
}

.product-selection, .stock-transaction, .stock-status {
    margin-bottom: 20px;
}

select, input {
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.buttons button {
    padding: 12px 20px;
    margin: 5px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
}

#inputStock {
    background-color: #28a745; /* Verde */
}

#inputStock:hover {
    background-color: rgb(3, 126, 3);
    transform: scale(1.1);
    box-shadow: 0 4px 5px black;
}

#outputStock {
    background-color: #dc3545; /* Vermelho */
}

#outputStock:hover {
    background-color: rgb(201, 11, 11);
    transform: scale(1.1);
    box-shadow: 0 4px 5px black;
}
