img#banner {
    width: 102%;
    height: auto;
    margin-left: -10px;
    margin-top: -10px;
}


#icone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

#icone div {
    background-color: #d72638; /* Fundo vermelho */
    border-radius: 50%; /* Bordas arredondadas */
    width: 70px; /* Largura do ícone */
    height: 70px; /* Altura do ícone */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px;
    font-size: 10px;
}

#icone i[data-lucide] {
    margin: 10px 0 0 0; /* Margem para separar o texto superior do ícone */
    font-size: 10px; /* Tamanho da fonte */
    line-height: 1.2; /* Espaçamento entre linhas */
    width: 30px;
    height: 30px;
}
span {
    color: #f5f5f5;
    font-size: 12px;
    font-family: "Montserrat" sans-serif;
    padding: 10px;
}

.saibamais {
    font-size: 20px !important;
    color: #f5f5f5 !important;
    padding: 5px !important;
    border: solid 3px #f5f5f5!important;
    border-radius: 10px !important;
    text-decoration: none !important;
    position: absolute !important;
    top: 500px !important;
    left: 150px !important;
}
a.saibamais{
    color: white !important;
}
tr.saibamais{
    color: white !important;
}
td.saibamais{
    color: white !important;

}