:root {
  --bg-dark: #262626;
  --bg-form: #2e2e2e;
  --primary: #d72638;
  --primary-hover: #b71e2d;
  --white: #f5f5f5;
  --shadow: 4px 4px 4px #000;
  --font-main: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background: url('../image/fundologin.jpg') center/cover no-repeat;
}

#dashboard {
  background-color: var(--bg-dark);
  width: 100%;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px black;
}

img#logo {
  margin-left: 50px;
  width: 80px;
  height: 80px;
}

.container {
  display: flex;
  max-width: 800px;
  margin: 50px auto;
}

#login,
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  border-radius: 20px;
  font-family: var(--font-main);
  color: var(--white);
}

#login {
  background-color: var(--primary);
  width: 340px;
  height: 340px;
  font-size: 24px;
}

.form {
  background-color: var(--bg-form);
  width: 300px;
  height: 300px;
  padding: 20px;
}

input {
  font-family: var(--font-main);
  font-size: 13pt;
  margin-bottom: 10px;
  border-radius: 4px; 
  border: none;
  padding: 10px;
}

input:hover {
  background-color: #aaaaaa;
}

 .btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    }
    
    .btn-success {
    background-color: rgb(12, 207, 12);
    }
    
    .btn-success:hover {
    background-color: rgb(3, 126, 3);
    transform: scale(1.1);
    box-shadow: 0 4px 5px black;
    }
    
    .btn-input {
    background-color: #d72638;
    margin-top: 10px;
    }
    
    .btn-input:hover {
    background-color: rgb(201, 11, 11);
    transform: scale(1.1);
    box-shadow: 0 4px 5px black;
    }
    