div#dashboard {
    background-color: rgb(255, 0, 0);
    width: 1500px;
    height: 80px;
    margin: -10px;
    box-shadow: 0px 0px 5px black;
    padding: 10px 10px 10px 10px;
}

img#logo {
    margin-top: -90px;
    width:auto;
    height:auto;
}

#login{
    margin-top: -145px;
    position: absolute;
    left:50%;
    text-align: center;
    font-family:"Montserrat" sans-serif;
}

body {
    background-color: rgb(50, 50, 50);
}

.form {
   position: absolute;
   top: 50%;
   left:50%;
}
form{
    display: block;
}


input{
    font-family: "Montserrat" sans-serif;
    font-weight: normal;
    font-size: 13pt;
}

input:hover{

    background-color:#aaaa;
}

.rodape{
    background-color: rgb(255, 0, 0);
    width: 1500px;
    height: 50px;
    margin-top: 100%;
    margin-left: -10px;
    box-shadow: 0px 0px 5px black;
}

p#rod{
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: "Montserrat" sans-serif;
    padding: 5px;
    position: center;
}

#email{
    margin-bottom: 50px;
}

button#form{
    background-color: green;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-right: 10px;
    font-family: "Montserrat" sans-serif;
    cursor: pointer;
    transition:all 0.3s ease;
}

button#form:hover{
    background-color: rgb(3, 126, 3);
    transform: scale(1.1);
    box-shadow: 0 4px 5px black;
}
input#cad{
    background-color: red;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-right: 10px;
    font-family: "Montserrat" sans-serif;
    cursor: pointer;
    transition:all 0.3s ease;
}

input#cad:hover{
    background-color: rgb(201, 11, 11);
    transform: scale(1.1);
    box-shadow: 0 4px 5px black;
}

div#form{

    margin-top: 10px;
}

img#banner{
  width: 150px;
  height: 150px;
  position: absolute;
  top:20%;
  left:53%;

}

