/* CSS */
body {
    background-image: url('../image/fundologin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; /* Remover margens padrão */
}

#dashboard {
    background-color: #262626;
    width: 100%; /* Ajustar para 100% da largura */
    height: 40px;
    box-shadow: 0px 0px 5px black;
    padding: 10px;
    display: flex; /* Usar flexbox */
    align-items: center; /* Centralizar verticalmente */
}

img#logo {
    margin-left: 50px;
    width: 80px;
    height: 80px;
}

.container {
    display: flex; /* Usar flexbox para o layout principal */
    max-width: 800px; /* Definir uma largura máxima */
    margin: 50px auto; /* Centralizar horizontalmente e adicionar margem superior */
    height: auto; /* Ajustar altura para auto */
}

#login {
    background-color: #d72638; /* Fundo vermelho */
    color: #f5f5f5; /* Texto branco */
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px; 
    height: 340px; 
    box-shadow: #000 4px 4px 4px;
    border-radius: 20px;
}

.form {
    background-color: #2e2e2e; /* Fundo do formulário */
    color: #f5f5f5; /* Texto branco */
    width: 300px; 
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: #000 4px 4px 4px;
    border-radius: 20px;
}

input {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 13pt;
    margin-bottom: 10px; /* Margem entre os inputs */
}

input:hover {
    background-color: #aaaa;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-success {
    background-color: green;
}

.btn-success:hover {
    background-color: rgb(3, 126, 3);
    transform: scale(1.1);
    box-shadow: 0 4px 5px black;
}

.btn-input {
    background-color: red;
}

.btn-input:hover {
    background-color: rgb(201, 11, 11);
    transform: scale(1.1);
    box-shadow: 0 4px 5px black;
}

