a {
    display: block;
    padding: 8px;
    color: #ffffff;
    text-decoration: none;
    font-size: 10pt;
    font-family: "Montserrat", sans-serif;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
 a:hover {
    color: red;
    text-decoration: underline;
}


h1{
    color: red;
    text-shadow: 5px 5px 5px black;
}

h2{
    font-size: 12pt;
    display: block;
    padding: 8px;
    color: #ffffff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

p{
    display: block;
    padding: 8px;
    color: #ffffff;
    text-decoration: none;
    font-size: 10pt;
    font-family: "Montserrat", sans-serif;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
i#metas{
    color: #ffffff;
}