/* CSS */
body {
    background-image: url('../image/fundologin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; /* Remover margens padrão */
}


.container {
    display: flex;
    gap: 20px;
    max-width: 800px;
    flex-direction: row;
    margin: 50px auto; /* Centralizar horizontalmente e adicionar margem superior */
    height: auto; /* Ajustar altura para auto */
}

#cad {
    background-color: #d72638; /* Fundo vermelho */
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px; 
    height: 340px; 
    box-shadow: #000 4px 4px 4px;
    border-radius: 20px;
}
h1{
    color: #f5f5f5; /* Texto branco */
    font-size: 24px;
    margin-left: 10px;
}

.form {
    background-color: #2e2e2e; /* Fundo do formulário */
    color: #f5f5f5; /* Texto branco */
    width: 300px; 
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: #000 4px 4px 4px;
    border-radius: 20px;
    margin-left: -20px;
}

input {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 13pt;
    margin-bottom: 10px; /* Margem entre os inputs */
}

input:hover {
    background-color: #aaaa;
}

.botoes {
    display: flex;
    gap: 10px; /* espaço entre os botões */
    margin-top: 10px; /* espaço acima, opcional */
  }
  
.btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-success {
<<<<<<< HEAD
    background-color: green;
=======
    background-color: rgb(12, 207, 12);
>>>>>>> d465c0c20adc891a20f43b4d974cadee92f8c228
    border: transparent;
}

.btn-success:hover {
    background-color: rgb(3, 126, 3);
    transform: scale(1.1);
    box-shadow: 0 4px 5px black;
}

.btn-input {
    background-color: red;
}

.btn-input:hover {
    background-color: rgb(201, 11, 11);
    transform: scale(1.1);
    box-shadow: 0 4px 5px black;
}

