@charset "UTF-8";

ul#album {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

ul#album li {
    position: relative;
    float: left;
    width: 200px;
    height: 300px; 
    margin: 10px;
    border: 5px solid red;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    -webkit-transition: all .4s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

ul#album li:hover {
    z-index: 10; 
    transform: scale(1.5); 
}

ul#album li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

ul#album li a .produto-imagem {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 100%;
    height: 80%; 
}

ul#album li#foto01 a .produto-imagem {
    background-image: url("../image/pre_darkLab.jpg");
}

ul#album li#foto02 a .produto-imagem {
    background-image: url("../image/pre_darkness.jpg");
}

ul#album li#foto03 a .produto-imagem {
    background-image: url("../image/pre_growth.jpg");
}

ul#album li#foto04 a .produto-imagem {
    background-image: url("../image/pre_growth2.jpg");
}

ul#album li#foto05 a .produto-imagem {
    background-image: url("../image/pre_integralMedica.jpg");
}

ul#album li#foto06 a .produto-imagem {
    background-image: url("../image/pre_max.jpg");
}

ul#album li#foto07 a .produto-imagem {
    background-image: url("../image/pre_max2.jpg");
}

ul#album li#foto08 a .produto-imagem {
    background-image: url("../image/pre_oficialFarma.jpg");
}

ul#album li#foto09 a .produto-imagem {
    background-image: url("../image/pre_RC.jpg");
}

ul#album li#foto10 a .produto-imagem {
    background-image: url("../image/pre_underLabz.jpg");
}

ul#album li#foto11 a .produto-imagem {
    background-image: url("../image/termo_darkLab.jpg");
}

ul#album li#foto12 a .produto-imagem {
    background-image: url("../image/termo_growth.jpg");
}
ul#album li:hover .produto-imagem {
    background-size: 100% 100%; 
}

/* Estilos para o preço */
ul#album li .preco {
    text-align: center;
    margin: 10px 0;
    padding: 5px;

    text-shadow: 1px, 1px, 1px black;
    color: black;
    font-size: 16px;
    z-index: 0;
    position: absolute;
    bottom: 0; 
    width: 100%;
}
