body {
    background-color: #222;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.result-list {
    list-style-type: none !important;
    padding: 0;
}
.result-list, .result-list li {
    list-style: none !important; /* Remove os marcadores da lista */ 
    padding: 0;
    margin: 0;
}


.result-list {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.result-list img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
}

.result-list p {
    margin: 0;
}
.result-item img {
    width: 120px;  /* Largura fixa */
    height: 120px; /* Altura fixa */
    object-fit: cover; /* Mantém a proporção e corta excessos */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Sombra vermelha suave */
}


.btn-voltar {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: red;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: darkred;
    transform: scale(1.1);
    box-shadow: 0 4px 5px black;
}
