body {
    font-family: 'Montserrat', sans-serif;
}

.titulo-pesquisa {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.produto-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.produto-img img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.produto-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    max-width: 400px;
}

.botoes-acao {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.descricao-produto {
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.descricao-oculta {
    display: none !important;
}

.mensagem-erro {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.comprar-btn {
    background-color: #28a745;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
}

.comprar-btn:hover {
    background-color: #218838;
}

.voltar-btn {
    background-color: #e00d0d;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.voltar-btn:hover {
    background-color: rgb(146, 8, 8);
}

.descricao-btn {
    background-color: #080cf0;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
.descricao-btn:hover {
    background-color: rgb(8, 0, 128);
}
.preco{
    color: #0bc733;
    font-size: 20px;
    border: 2px 2px 2px #1e1e1e;
    text-shadow: 1px 1px 1px #0bc733;
}
h1{
    color: #e00d0d;
}

.status-produto strong {
    font-size: 16px;
    margin-right: 5px;
}

.status-Emestoque{
    color: green;
    font-weight: bold;
}

.status-Esgotado {
    color: red;
    font-weight: bold;
}
