@charset "UTF-8";

ul#album {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
    list-style: none;
}

ul#album li {
    position: relative;
    width: 200px;
    height: 300px; 
    margin: 0; 
    border: 5px solid red;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    -webkit-transition: all .4s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}


ul#album li:hover {
    z-index: 10; 
    transform: scale(1.5); 
}

ul#album li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

ul#album li a .produto-imagem {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 100%;
    height: 80%; 
}



ul#album li:nth-last-child(-n+2) {
    align-self: center; 
}

ul#album li#foto01 a .produto-imagem {
    background-image: url("../image/goldstandard.jpg");
}

ul#album li#foto02 a .produto-imagem {
    background-image: url("../image/BetaHD.png");
}

ul#album li#foto03 a .produto-imagem {
    background-image: url("../image/creatina-universal.jpg");
}

ul#album li#foto04 a .produto-imagem {
    background-image: url("../image/barra.jpg");
}

ul#album li#foto05 a .produto-imagem {
    background-image: url("../image/termo_darkLab.jpg");
}

ul#album li:hover .produto-imagem {
    background-size: 100% 100%; 
}

ul#album li .preco {
    text-align: center;
    margin: 10px 0;
    padding: 5px;

    text-shadow: 1px, 1px, 1px black;
    color: black;
    font-size: 16px;
    z-index: 0;
    position: absolute;
    bottom: 0; 
    width: 100%;
}
